{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@Functions": "./src/functions",
          "@Constants": "./src/constants"
        }
      }
    ]
  ]
}
