{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    [
      "module-resolver",
      {
        "extensions": [".js", ".ts", ".json"],
        "root": ["./src"],
        "alias": {
          "@Functions": "./src/functions",
          "@Constants": "./src/constants",
          "@Types": "./src/types",
          "@test": "./test"
        }
      }
    ]
  ]
}
