{
  "reporter": ["text", "lcov"],
  "exclude": [
    "coverage/**",
    "test/**",
    "dist/**",
    "node_modules/**",
    "**/*.d.ts"
  ],
  "extension": [".js", ".ts"],
  "require": ["@babel/register"],
  "sourceMap": true,
  "instrument": true
}
